
:root {
    --main-font: 1.75rem;
    /* --main-font: 3vh; */
    --back-color: #222;
    --main-color: #eee;
    --link-color: #9ce;
    --visible: hidden;
}

body {
    overflow-x: hidden;
    background: var(--back-color);
    color: var(--main-color);
    font-size: var(--main-font);
}

hr {
    font-size: 0.65em;
    margin-left: 3.33em;
    margin-right: 3.33em;
    border:none;
    border-top: 1px solid gray;
}

img {
    height: 100%;
    object-fit: scale-down;
}

/* unvisited link */
a:link {
  color: var(--link-color);
}

/* visited link */
a:visited {
  color: var(--link-color);
}

/* mouse over link */
a:hover {
  color: var(--link-color);
}

/* selected link */
a:active {
  color: var(--link-color);
}

.title {
    width: 80%;
    text-align: right;
    /* font-size: 5vh; */
    font-size: 1.65em;
    /*font-weight: bold;*/
    text-decoration: underline;
}

.project_block {
    margin-top: 2.3em;
}

.project_title {
    font-size: 1.34em;
    /* font-size: 4vh; */
    margin-left: 5em;
    /*font-weight: 500;*/
    /*text-decoration: underline;*/
}

.views_cnt {
    width: 70vh;
    max-width: 90%;
    text-align: right;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    font-size: 0.75em;
    /* font-size: 2.3vh; */
    /*margin-left: 45vw;*/
}

.description {
    /* width: auto; */
    /* max-width: 90%; */
    /*font-style: oblique;*/ /*| oblique;*/
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    /* font-size: 2vh;
    margin-top: 1vh;*/
    /* margin-left: 5vw; */
    font-size: 0.65em;
    margin-top: 0.33em;
    margin-left: 3.33em;
}

.images_block {
    /*display: grid;
    grid-template-columns: repeat(auto);
    grid-template-rows: 1fr;*/
    display: flex;
    overflow-x: scroll;
    height: 15em;
    max-height: 60vw;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.images_block::-webkit-scrollbar {
    display: none;
}

.image {
    height: 100%;
    /*border: 1px solid red;*/
    margin-right: 3vw;
    margin-left: 3vw;
    /*max-width: 30vh;*/
}

.hidden {
    color: transparent;
}

.typed {
    visibility: var(--visible);
}

.type_symbol {
    display:inline;
    position: relative;
}

.type_symbol:before {
    position: absolute;
    bottom: -0.2em;
    left: 0.0em;
    font-size: 1em;
    content: '𝙸';
}

.container {
    max-width: 55em;
    margin: auto;
}

/* Minimum aspect ratio */
@media (max-aspect-ratio: 4/6) {
    /* :root {
        --main-font: 4.5vw;
    } */
    body {
        font-size: 4.5vw;
    }

    div {
      /* background: #9af; blue */
    }
}

